<div class="footerbox ">
    <div class="fttxtbox">
        <div class="botlogobox"><img src="/Content/Design/images/hrclogo_gr.png" alt="한국리서치 로고"></div>
        <p>Copyright &copy; Hankook Research all rights reserved.</p>
    </div>
</div>

