

<script type="text/javascript">
$(document).ready(function () {
    
    $('#projectName').click(function () {
        window.location.href = "../../Home";
    });
});
</script>


<div class="bkcover">
    <div class="bkcoverin"></div>
</div>
<header>
    <div class="brandbar">
        <div class="brandbox" id="projectName">
            <h1>@ViewBag.조사명</h1>
        </div>
    </div>
</header>