@model string

<html>
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            window.location.href = '@(Model)';
        });
    </script>
</head>
<body>

</body>
</html>
