<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SURVEYTOOLConnectionString" connectionString="Data Source=10.0.11.175,15000;Initial Catalog=SURVEYTOOL;User ID=kimsj;password=dv5000157$" providerName="System.Data.SqlClient"/>
    <add name="TAPIConnectionString" connectionString="Data Source=10.0.11.175,15000;Initial Catalog=TAPI;User ID=kimsj;password=dv5000157$" providerName="System.Data.SqlClient"/>
    <add name="SURVEYConnectionString" connectionString="Data Source=10.0.11.175,15000;Initial Catalog=SURVEY;User ID=kimsj;password=dv5000157$" providerName="System.Data.SqlClient"/>
    <add name="KLIPS2016ConnectionString" connectionString="Data Source=10.0.11.175,15000;Initial Catalog=KLIPS2016;User ID=sa;Password=Hrc#1000" providerName="System.Data.SqlClient"/>
    <add name="WebDiary_Horse2014ConnectionString" connectionString="Data Source=srv1.hrcglobal.com,15000;Initial Catalog=WebDiary_Horse2014;User ID=webifs;Password=webifs1" providerName="System.Data.SqlClient"/>
    <add name="TAPIConnectionString1" connectionString="Data Source=10.0.11.175,15000;Initial Catalog=TAPI;User ID=sa;Password=Hrc#1000;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    <add name="SURVEYConnectionString1" connectionString="Data Source=10.0.11.175,15000;Initial Catalog=SURVEY;User ID=sa;Password=Hrc#1000;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    <add name="SURVEYConnectionString2" connectionString="Data Source=10.0.11.175,15000;Initial Catalog=SURVEY;User ID=kimsj;password=dv5000157$" providerName="System.Data.SqlClient"/>
    <add name="TAPIConnectionString2" connectionString="Data Source=10.0.11.175,15000;Initial Catalog=TAPI;User ID=kimsj;password=dv5000157$" providerName="System.Data.SqlClient"/>
    <add name="SEND_MASTERConnectionString" connectionString="Data Source=172.19.100.85,15000;Initial Catalog=SEND_MASTER;User ID=hrcdv" providerName="System.Data.SqlClient"/>
    <add name="DataSourceConnectionString" connectionString="Data Source=172.19.100.85,15000;Persist Security Info=True;User ID=hrcdv;Password=Hrc#3014!#" providerName="System.Data.SqlClient"/>
    <add name="SURVEYConnectionString3" connectionString="Data Source=10.0.11.175,15000;Initial Catalog=SURVEY;User ID=kimsj;Password=dv5000157$" providerName="System.Data.SqlClient"/>
    <add name="SEND_MASTERConnectionString1" connectionString="Data Source=172.19.100.85,15000;Initial Catalog=SEND_MASTER;Persist Security Info=True;User ID=hrcdv;Password=Hrc#3014!#" providerName="System.Data.SqlClient"/>
    <add name="TAPIConnectionString3" connectionString="Data Source=10.0.11.175,15000;Initial Catalog=TAPI;User ID=kimsj;Password=dv5000157$" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <!--
    web.config 변경 내용에 대한 설명은  http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"></customErrors>
    <trust level="Full"/>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="DevExpress.Data.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Utils.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.SpellChecker.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxThemes.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxSpellChecker.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.Mvc5.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraCharts.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraCharts.v21.1.Web, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Charts.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Printing.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraReports.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraReports.v21.1.Web, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraPivotGrid.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.PivotGrid.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxPivotGrid.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.RichEdit.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.Resources.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="DevExpress.Utils"/>
        <add namespace="DevExpress.Web"/>
        <add namespace="DevExpress.Web.ASPxHtmlEditor"/>
        <add namespace="DevExpress.Web.ASPxSpellChecker"/>
        <add namespace="DevExpress.XtraCharts"/>
        <add namespace="DevExpress.XtraCharts.Web"/>
        <add namespace="DevExpress.XtraReports"/>
        <add namespace="DevExpress.XtraReports.UI"/>
        <add namespace="DevExpress.XtraReports.Web"/>
        <add namespace="DevExpress.XtraPivotGrid"/>
        <add namespace="DevExpress.Data.PivotGrid"/>
        <add namespace="DevExpress.Web.ASPxPivotGrid"/>
        <add namespace="DevExpress.Web.Mvc"/>
        <add namespace="DevExpress.Web.Mvc.UI"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
    <sessionState mode="InProc" timeout="720"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
    <handlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <devExpress>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
    <themes enableThemesAssembly="true"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
</configuration>