@model List<TAPI_Interviewer.Models.KLOWF2022_Panel>

<!DOCTYPE html>

<html>
<head>
    @{
        ViewBag.Title = "2022년 9차 여성가족패널조사";
    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="@Url.Content("../../Content/p170980/Site.css?version=2")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            setStatus();
        });

        function goPanelInfo(hid, status) {
            if (status == '이관요청') {
                alert('이관요청 하셨습니다.');
                return;
            }

            if (hid != null) {
                window.location.href = './Contact?hid=' + hid;
            }
        }

        function goTransfer(hid, status) {
            if (status == '이관요청') {
                alert('이관요청 하셨습니다.');
                return;
            }

            if (hid != null) {
                window.location.href = './Transfer?hid=' + hid;
            }
        }

        function setStatus() {
            $.post("./ProgressPartial", null, function (result) {
                $("#Progress").replaceWith(result);
            }).error(function (jqXHR, status, error) {
                alert(status);
                alert(error);
            });
        }

        function Refresh() {
            location.reload();
        }
    </script>
</head>
<body>
    <div style="width : 100%;display: inline-block;">
        <label id="title">@ViewBag.Title</label>
        <p />
        <div id="Progress">
            @*@Html.Partial("ProgressPartial", Model)*@
        </div>
        <p />
        <div style="overflow-x:scroll;width:100%;">
            @Html.Partial("ListPartial", Model)
        </div>
    </div>
</body>
</html>