@model List<TAPI_Interviewer.Models.SP_q220846_GETHOUSELISTResult>

<!DOCTYPE html>

<html>
<head>
    @{
        ViewBag.Title = "2022년 국민여가활동조사 - 가구리스트";
    }

    <script type="text/javascript">
        $(document).ready(function () {

            $('#createHouse').click(function () {

                $.post("./CreateHouse", { "keyid": @ViewBag.HRC일련번호}, function (result) {
                    if (result != '')
                    {
                        alert(result);
                    }
                    else
                    {
                        location.reload();
                    }
                }).error(function (jqXHR, status, error) {
                    alert(status);
                    alert(error);
                });
            });
            $('#exit').click(function () {
                window.location.href = './List';
            });

            $('input[type=tel]').keydown(function (event) {
                var charCode = (event.which) ? event.which : event.keyCode;

                if (isNumeric(charCode, this) == false) {
                    event.preventDefault();
                }
            });
        });

        function contact(hid, status)
        {
            if (status == '완료') {
                alert("조사를 완료했습니다. \r접촉일지를 작성할 수 없습니다.");
                return;
            }
            if (hid != null) {
                window.location.href = './Contact?hid=' + hid;
            }
        }

        function goAnswerInfo(hid) {
            if (hid != null) {
                window.location.href = './AnswerInfo?keyid=@ViewBag.HRC일련번호&hid=' + hid;
            }
        }
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="@Url.Content("../../Content/KLIPS/PanelInfo.css?version=5")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/jquery.chained.min.js"></script>
    <script type="text/javascript" src="../../Scripts/RPS_Script.js"></script>
</head>
<body>
    <div id="main" style="width:100%;">
       
        <div style="overflow-x:scroll;width:100%;">
            @Html.Partial("HouseListPartial", Model)
        </div>
        <div class="buttonDiv">
            <input type="button" id="createHouse" class="infoButton" style="margin-right: 30px;" value="가구 추가" />
            <input type="button" id="exit" class="infoButton" style="margin-right: 30px;float:right;" value="닫기" />
        </div>
    </div>
</body>
</html>