@model TAPI_Interviewer.Models.Project.ProgressCount

<script type="text/javascript">

    function createListPageOpen() {
      

      var linkURL = "./CreateList";

        //surveyWin = window.open(linkURL, "NewList");
      //surveyWin.focus();
        window.location.href = linkURL;
        
    }

    function pageRefresh() {
        location.reload();
    }


</script>

<table style="width:100%;">
    @{
        if (Model != null)
        {
    <tr>
        <td style="width:60%;"></td>
        <td style="width:5%;">배부</td>
        <td style="width:5%;">@Model.All</td>
        <td style="width:5%;">진행</td>
        <td style="width:5%;">@Model.Ing</td>
        <td style="width:5%;">완료</td>
        <td style="width:5%;">@Model.End</td>

      
    </tr>
        }
        else
        {
    <tr>
        <td style="width:60%;"></td>
        <td style="width:5%;">배부</td>
        <td style="width:5%;">0</td>
        <td style="width:5%;">진행</td>
        <td style="width:5%;">0</td>
        <td style="width:5%;">완료</td>
        <td style="width:5%;">0</td>

        
    </tr>
        }
    }
</table>
