@model List<TAPI_Interviewer.Models.SP_q221454_GETLISTResult>

<!DOCTYPE html>

<html>
    <head>
        @{
            ViewBag.Title = "2022년도 한국 고령자 기술수용도 패널조사 - 동 리스트";
        }
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link href="@Url.Content("../../Content/KLIPS/Site.css?version=4")" rel="stylesheet" type="text/css" />
        <script type="text/javascript">
            $(document).ready(function () {
                setStatus();
            });

            function goPersonList(keyid, status) {
                if (status == '대체요청')
                {
                    alert('대체요청 하셨습니다.');
                    return;
                }

                if (keyid != null) {
                    window.location.href = './PersonList?keyid=' + keyid;
                }
            }


            function goReplace(keyid, status) {
                if (status == '대체요청') {
                    alert('대체요청 하셨습니다.');
                    return;
                }


                if (keyid != null) {
                    window.location.href = './Replace?keyid=' + keyid;
                }
            }

            //function setStatus() {
            //    $.post("./ProgressPartial", null, function (result) {
            //        $("#Progress").replaceWith(result);
            //    }).error(function (jqXHR, status, error) {
            //        alert(status);
            //        alert(error);
            //    });
            //}

            function Refresh() {
                location.reload();
            }
        </script>
    </head>
    <body>
        <div style="width : 100%;display: inline-block;">
            <label id="title">@ViewBag.Title</label>
            <p/>
            <div id="Progress">
                @*@Html.Partial("ProgressPartial", Model)*@
            </div>
            <p/>
            <div style="overflow-x:scroll;width:100%;">
                @Html.Partial("ListPartial", Model)
            </div>
        </div>
    </body>
</html>