@model List<TAPI_Interviewer.Models.SP_q220755_GETLISTResult>

<!DOCTYPE html>

<html>
    <head>
        @{
            ViewBag.Title = "2022년 주거실태 시범조사";
        }
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link href="@Url.Content("../../Content/q200494/PanelInfo.css?version=5")" rel="stylesheet" type="text/css" />
        <script type="text/javascript">
            $(document).ready(function () {
                setStatus();
                
               
                $('#goInfo1').click(function () {
                    window.open('https://rpssurvey.hrcglobal.com/Media/12803/info1.png');
                });

                $('#goInfo2').click(function () {
                    window.open('https://rpssurvey.hrcglobal.com/Media/12803/info2.png');
                });
                
            });


            function goHouseList(keyid, status) {
                if (status == '대체요청') {
                    alert('대체요청 하셨습니다.');
                    return;
                }

                if (keyid != null) {
                    window.location.href = './HouseList?keyid=' + keyid;
                }
            }

            function replace(keyid, status) {

                if (status == "대체요청") {
                    alert("대체요청 상태입니다.");
                    return;
                }

                if (keyid != null) {
                    window.location.href = './Replace?keyid=' + keyid + '&listType=1';
                }
            }



            function setStatus() {
                $.post("./ProgressPartial", null, function (result) {
                    $("#Progress").replaceWith(result);
                }).error(function (jqXHR, status, error) {
                    alert(status);
                    alert(error);
                });
            }

            function Refresh() {
                location.reload();
            }
        </script>
    </head>
    <body>
        <div style="width : 100%;display: inline-block;">
            <label id="title">@ViewBag.Title</label>
           

            <div id="Progress" style="float:right;">
                @*@Html.Partial("ProgressPartial", Model)*@
            </div>
          
          
            <div style="overflow-x:scroll;width:100%;">
                @Html.Partial("ListPartial", Model)
            </div>
           
            
        </div>
       
</body>
</html>