@model List<TAPI_Interviewer.Models.SP_q220001_GETLISTResult>

<!DOCTYPE html>

<html>
    <head>
        @{
            ViewBag.Title = "TAPI 인터뷰어 샘플 조사";
        }
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link href="@Url.Content("../../Content/KLIPS/Site.css?version=4")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("../../Content/q210801/PanelInfo.css?version=4")" rel="stylesheet" type="text/css" />
        <script type="text/javascript">
            $(document).ready(function () {
                setStatus();
            });
             

            function goAnswerInfo(pid,status) {


                if (status == "대체요청") {
                    alert("대체요청 상태입니다.");
                    return;
                }

                window.location.href = './AnswerInfo?pid=' + pid;

            }

            function goReplace(PID, status) {

                if (status == "대체요청") {
                    alert("대체요청 상태입니다.");
                    return;
                }
                if (status == "완료") {
                    alert("완료된 리스트 입니다.");
                    return;
                }
                if (PID != null) {
                    window.location.href = './Replace?PID=' + PID;
                }
            }
            function contact(pid, status)


            {

                if (status == "대체요청") {
                    alert("대체요청 상태입니다.");
                    return;
                }

                if (status == '완료') {
                    alert("조사를 완료했습니다. \r접촉일지를 작성할 수 없습니다.");
                    return;
            }
                if (pid != null)
                {
                    window.location.href = './Contact?&pid=' + pid;
                }
            }



            function setStatus() {
                $.post("./ProgressPartial", null, function (result) {
                    $("#Progress").replaceWith(result);
                }).error(function (jqXHR, status, error) {
                    alert(status);
                    alert(error);
                });
            }

            function Refresh() {
                location.reload();
            }
        </script>
    </head>
    <body>
        <div style="width : 100%;display: inline-block;">
            <label id="title">@ViewBag.Title</label>
            <p/>
            <div id="Progress">
                @*@Html.Partial("ProgressPartial", Model)*@
            </div>

            <p/>
            <div style="overflow-x:scroll;width:100%;">
                @Html.Partial("ListPartial", Model)
            </div>
        </div>
    </body>
</html>