

<html>
<head>
    @{
        ViewBag.Title = "TAPI 인터뷰어 샘플 조사 - 대체요청";
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ok').click(function () {

                var status = $(":input[name='status']:checked").val();

                if (!$(":input[name='status']").is(":checked")) {
                    alert('대체 사유를 입력 해 주세요.');
                    return;
                }


                $.post("./ReplaceOK", { "PID": '@ViewBag.PID', "status": status }, function (result) {
                    alert('대체 요청 되었습니다.');
                    window.location.href = './List';
                }).error(function (jqXHR, status, error) {
                    alert(status);
                    alert(error);
                });
            });

            $('#cancel').click(function () {
                window.location.href = './List';
            });
        });
    </script>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="@Url.Content("../../Content/KLIPS/PanelInfo.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/RPS_Script.js" )"></script>
</head>
<body>
    <div style="width : 100%;display: inline-block;">
        <table class="infoTable">
            <tr>
                <td class="tdValue">PID</td>
                <td>@ViewBag.PID </td>
            </tr>

            <tr>
                <td class="tdValue">주소</td>
                <td>@ViewBag.주소 </td>
            </tr>
            <tr>
                <td class="tdValue">
                    대체 사유
                </td>
                <td class="tdValue3">
                    <input type="radio" name="status" id="replace1" value="1. 지역재개발로 인해 주택 소멸 " /><label for="replace1"> 1. 지역재개발로 인해 주택 소멸 </label><br />
                    <input type="radio" name="status" id="replace2" value="2. 아파트/연립/다세대/오피스텔(조사구 전체) 출입 불가" /><label for="replace2"> 2. 아파트/연립/다세대/오피스텔(조사구 전체) 출입 불가</label><br />
                    <input type="radio" name="status" id="replace3" value="3. 부재 및 거절이 많아 목표 표본 미달" /><label for="replace3"> 3. 부재 및 거절이 많아 목표 표본 미달</label><br />
                    <input type="radio" name="status" id="replace4" value="4. 기타" /><label for="replace4"> 4. 기타</label>

                </td>
            </tr>
        </table>

        <div class="buttonDiv">
            <center>
                <input type="button" id="ok" class="infoButton" value="대체 요청" />
                <input type="button" id="cancel" class="infoButton" value="나가기" />
            </center>
        </div>
    </div>
</body>
</html>
