@model List<TAPI_Interviewer.Models.SP_q221228_GETLISTResult>

<!DOCTYPE html>

<html>
    <head>
        @{
            ViewBag.Title = "2022년 연근해어업 실태조사";
        }
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link href="@Url.Content("../../Content/q200494/Site.css?version=4")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("../../Content/q200494/PanelInfo.css?version=5")" rel="stylesheet" type="text/css" />
        <script type="text/javascript">
            $(document).ready(function () {
                setStatus();

                $('#quota').click(function () {
                    window.open('./Quota');
                });
            });

          

            function goContact(pid, status) {
                if (status == '완료') {
                    alert(status + ' 하셨습니다.');
                    return;
                }

                if (pid != null) {
                    window.location.href = './Contact?pid=' + pid;
                }
            }

            function goAnswerInfo(pid, status, status2) {
               
                if (status2 == '거절')
                {
                    alert('조사를 거절한 대상자 입니다.');
                    return;
                }

                if (pid != null) {
                    window.location.href = './AnswerInfo?pid=' + pid;
                }
            }

            function setStatus() {
                $.post("./ProgressPartial", null, function (result) {
                    $("#Progress").replaceWith(result);
                }).error(function (jqXHR, status, error) {
                    alert(status);
                    alert(error);
                });
            }

            function Refresh() {
                location.reload();
            }
        </script>
    </head>
    <body>
        <div style="width : 100%;display: inline-block;">
            <label id="title">@ViewBag.Title</label>
            <div style="float:left;margin:10px 0px;">
                <input type="button" id="quota" class="infoButtonGreenWide" style="margin-right: 10px; margin-top:10px;" value="세부업종 진행상황" />
            </div>
            <p/>
            <div id="Progress">
                @*@Html.Partial("ProgressPartial", Model)*@
            </div>
            <p/>
            <!-- <div style="overflow-x:scroll;width:100%;"></div>-->
                @Html.Partial("ListPartial", Model)
            
        </div>
    </body>
</html>